.container {
  background-color: rgb(126 204 177 / 45%);
}

body {
  margin: 0 auto;
  width: 70%;
  box-shadow: black;
}
.topbar {
  height: fit-content;
  background-color: rgb(126 204 177 / 98%);
}
.topbar img {
  display: block;
  height: 10rem;
  width: 18rem;
  margin: 2em auto;
  padding: 2em;
}

.body-content {
  display: grid;
}
.player {
  text-align: center;
}
.song-details img {
  width: 20rem;
  height: 20rem;
}

.title {
  font-family: Rockwell;
}
.album-name {
  font-family: The blacklight;
}

.song-info p {
  font-size: 2em;
  color: rgb(62 244 148);
  text-shadow: 0 0 3px #000000, 0 0 5px #c89eab;
}

.artist-name {
  font-family: The blacklight;
}
.controls {
  padding: 2em;
  background-color: rgb(99 200 140 / 30%);
  font-size: 0.5em;
  margin-top: 1rem;
  text-align: center;
}

.progress .controls {
  width: 10%;
}
.control {
  font-size: 6em;
  margin: 0 0.2em;
}
.playlists {
  margin-top: 2em;

  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  width: fit-content;
  margin-bottom: 0;
}
#trackTime,
#trackDuration {
  font-size: medium;
  margin: 2em;
}
.volume {
  width: 50%;
}
.progress {
  display: flex;
  width: 100%;
}
.progress > input {
  flex-grow: 1;
}
ul {
  padding-inline-start: 0px;
}
li {
  list-style-type: none;
  font-family: "Rockwell";
  color: white;

  font-size: 2em;
  margin: 0.1em;
  padding: 0.3em 0.3em 0 2em;
  border: 1px solid #000;
  border-radius: 0.2em;

  background-color: rgb(147 215 179);
  text-shadow: 0 0 3px #ea1208, 0 0 5px #1249e4;
}
.playing {
  background-color: rgb(27 27 27 / 60%);
}
